svg {
    font: 10px sans-serif;
}

.line {
    stroke: steelblue;
    fill: none;
    clip-path: url(#clip);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.brush .extent {
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.panel .title {
    font-size: 24px;
    text-anchor: middle;
}

.panel .y.label {
    text-anchor: start;
    font-size: 12px;
    font-weight: normal;
}

.resize rect {
  fill: url(#dimples);
  fill-opacity: 0.8;
}

#dimples circle {
    stroke: none;
    fill: steelblue;
}
