@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "variables.less";

html {
    min-height: 100%;
}

//
// body
//
body {
    background-image: url("../img/cover1920px.jpg");
    background-size: cover;
    min-height: 100%;
}


//
// navigation
//
#navigation {
    .box-shadow(@shadow: 0 1px 3px rgba(0, 0, 0, 0.25));
    text-align: left;
}


//
// content
//
#content {
    padding-top: @line-height-computed;
    background-color: @body-bg;
    background-image: none;
    .border-bottom-radius(5px);
    .box-shadow(@shadow: 1px 1px 3px rgba(0, 0, 0, 0.25));
}


//
// tiles
//
.tile {
    text-align: center;
    a, a:hover, a:active {
        color: #333;
    }
    img {
        height: 100%;
        width: 100%;
    }
}


//
// collaborators
//
.collaborator {
    img {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        max-width: 100%;
    }
}

//
// blog
//
.article {
  margin: 3em 0 4em;
  header {
    border-top: 1px dashed @gray-light;

    h2 {
      text-align: center;
      margin: 0.8em 0;
    }

    a {
      text-decoration: none;
      color: #333;
    }

    .date {
      text-align: center;
      font-size: 0.8em;
      margin-top: -0.7em;

      span {
        background-color: #fff;
        padding: 0 0.7em;
      }
    }
  }
  .more {
    text-decoration: underline;
    font-weight: 700;
    padding-left: 0.3em;
  }
}

.more, .date {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.post-title {
  font-style: italic;
  a {
    color: #333
  }
}

.author {
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.archive {
  margin: 2em 0;
}

.blog-footer {
  text-align: center;
  margin: 1em 0;

  a {
    color: #333;
  }
}


//
// footer
//
footer {
    margin-top: 50px;
    padding-top: @navbar-padding-vertical;
    padding-bottom: @navbar-padding-vertical;
    border-top: 1px solid @gray-light;
    color: rgba(100, 100, 100, 0.5);
    a {
        color: @gray;
    }
}
