doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    block styles
      link(rel="stylesheet", href=contents.css["main.less"].url)

    block title
      title= locals.title

  body
    block page
      h1= page.title
      != page.html

    block scripts
