extends page-narrow

block prepend body
  script.
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '!{ locals.facebookAppId }',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk')); 

block contentRight
  - var archives = env.helpers.getArticles(contents)
  - var disableNarrowSidebarImages = true
  for archive in archives
    .row.blog-sidebar-post
      .col-md-4.date= moment.utc(archive.date).format("DD. MM YYYY")
      .col-md-8.post-title
        a(href=archive.url)= archive.title
