mixin breadcrumbs()
  - var extractPage = function(parts) {
  -   var page = contents;
  -   parts.forEach(function(d) { page = page[d]; });
  -   if (page.url === undefined) {
  -     page = page["index.md"] || page["index.json"]
  -   }
  -   return page;
  - }
  ol.breadcrumb
    - var parts = page.filepath.relative.split("/")
    - if (parts[parts.length - 1] === "index.md" || parts[parts.length - 1] === "index.json")
      - parts.pop()
    each part, index in parts
      - var page = extractPage(parts.slice(0, index + 1))
      if index === parts.length - 1
        li.active= page.title
      else
        li
          a(href=page.url)= page.title
