extends main


block append styles
  link(rel="stylesheet", href="/css/hubbard.css")


block content
  #chart


block append scripts
  include js/d3
  - for script in page.metadata.scripts
    script(src=script)
