extends main


block append styles
  link(rel="stylesheet", href=contents.styles["hubbard.css"].url)


block content
  #chart


block append scripts
  include js/d3
  - for script in page.metadata.scripts
    script(src=contents.js[script].url)
