extends main.jade

block content
  - var collaborators = page.metadata.collaborators

  h1= page.title
  p
    | Many individuals and organizations have contributed to this work.
    | Thank you.

  - for (var i = 0; i < collaborators.length;)
    - var initial = i
    .row(style="margin-top: 40px;")
      - for (; i < Math.min(collaborators.length, initial + 4); i++)
        .col-md-3(style="display: inline-block; vertical-align: middle; float: none; text-align: center;")
          a(href=collaborators[i].url, style="display: inline-block;")
            img.img-responsive(src=contents.img.collaborators[collaborators[i].filename].url,
              style="max-height: 96px")
