extends base

block append styles
  link(rel="stylesheet", href=contents.styles["cover.css"].url)

block page
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          h1.cover-heading Monitoring Glacier Change

          p.lead
            = page.metadata.lead

          p.lead
            a.btn.btn-lg.btn-default(href=contents["about.md"].url)
              | Learn more

        .mastfoot
          .inner
            p
              a(href=contents["about.md"].url) about 
              | | 
              a(href=contents["contact.md"].url) contact
