extends main


block append styles
  link(rel="stylesheet", href=contents.css["globe.less"].url)


block content

  .row
    .col-md-3
      div#locations.list-group
    .col-md-9
      #globe


block append scripts
  include js/topojson
  script(src=contents.js["locations.js"].url)
