extends page-wide

block append styles
  link(rel="stylesheet", href=contents.styles["globe.less"].url)

block content
  .row
    .col-md-3
      | Hover over a location to see more information.
      hr
      #locations.list-group
    .col-md-5#globe
    .col-md-4#detail

block append scripts
  script(src=contents.scripts["locations.js"].url)
