extends main


block append styles
  link(rel="stylesheet", href=contents.css["globe.less"].url)


block content

  .row
    .col-md-3
      ul.nav.nav-pills.nav-stacked
        for location in page.metadata.locations
          li
            a(href=location.url)
              = location.name
    .col-md-9
      #globe


block append scripts
  include js/topojson
  script(src=contents.js["globe.js"].url)
