extends main


block append styles
  link(rel="stylesheet", href=contents.css["globe.less"].url)


block content

  .row
    .col-md-3
      #locations.list-group
    .col-md-5
      #globe
    .col-md-4
      #detail
        | Hover over a location in the left sidebar to see more information.


block append scripts
  include js/topojson
  script(src=contents.js["locations.js"].url)
