extends main


block append styles
  link(rel="stylesheet", href=contents.css["globe.less"].url)


block content

  .row
    .col-md-3
      ul#locations.nav.nav-pills.nav-stacked
    .col-md-9
      #globe


block append scripts
  include js/topojson
  script(src=contents.js["locations.js"].url)
