extends tiles

block append content
  // TODO include a map of the location
  .row
    .col-md-4.col-md-offset-4.text-center
      p
        a(href=page.parent[slug + ".kml"].url)
          img(src=contents.img["google-earth.png"].url)

block append scripts
  script(src=contents.scripts.lib["holder.js"].url)
