extends base

mixin smart_active_li(url)
  if page.url == url
    li.active
      block
  else
    li
      block

block content
  .navbar.navbar-fixed-top.navbar-inverse(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href=contents.index.url) glac.io
      .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          +smart_active_li(contents["hubbard.json"].url)
            a(href=contents["hubbard.json"].url) Data
          +smart_active_li(contents["about.md"].url)
            a(href=contents["about.md"].url) About
          +smart_active_li(contents["contact.md"].url)
            a(href=contents["contact.md"].url) Contact
