extends main

block main
  #content.container
    block breadcrumbs
      if page.metadata.breadcrumbs
        include breadcrumbs
        .row
          .col-md-12
            +breadcrumbs()

    block page

    footer
      .row
        .col-md-2.col-md-offset-5.text-center
          a(href=contents["about.md"].url) about 
          | | 
          a(href=contents["contact.md"].url) contact

      .row(style="margin-top: 50px")
        .col-md-3.col-md-offset-1
          != contents["attribution.md"].html
        .col-md-2.col-md-offset-1.text-center
          | Subscribe to our blog's 
          a(href=contents.blog["feed.json"].url) rss feed
          | , or find us on 
          a(href="https://github.com/CRREL") Github
          | .
        .col-md-3.col-md-offset-1
          | &copy; 2014 Pete Gadomski
