extends base

mixin smart_active_li(url)
  if page.url == url
    li.active
      block
  else
    li
      block


block page
  #content.container
    block content
      .row
        .col-md-8.col-md-offset-2
            block content-narrow
              h1= page.title
              != page.html

    footer
      .row
        .col-md-2.col-md-offset-5(style="text-align: center")
          a(href=contents["about.md"].url) about 
          | | 
          a(href=contents["contact.md"].url) contact
