extends main

block page
  #content.container
    block content
      .row
        .col-md-6.col-md-offset-1
            h1= page.title
            != page.html
        .col-md-4.col-md-offset-1
          img(src=contents.img["scanner.jpg"].url)

    footer
      .row
        .col-md-2.col-md-offset-5(style="text-align: center")
          a(href=contents["about.md"].url) about 
          | | 
          a(href=contents["contact.md"].url) contact
