extends page-wide

block prepend main
  - page.metadata.breadcrumbs = true

block content
  .text-center
    h1= page.title

    p
      | Select image using the thumbnails on the left, or scroll in the image viewer.
      | You can also use the arrow keys to scroll forward and backward.

  hr

  .row.realtime-images(data-viewer="realtime-images",
                       data-camera-url=page.metadata.cameraUrl,
                       data-image-base-url=page.metadata.imageBaseUrl)
    .col-md-2
      .realtime-images-controls
      button.realtime-images-load-more.btn.btn-primary.btn-sm.btn-block(type="button")
        | Load more images
    .col-md-1
      a.left.arrow
        span.glyphicon.glyphicon-chevron-left
    .realtime-images-viewer.col-md-8
    .col-md-1
      a.right.arrow
        span.glyphicon.glyphicon-chevron-right

block append scripts
  script(src=contents.scripts["realtime-images.coffee"].url)
