extends ../page


block append styles
  link(rel="stylesheet", href=contents.styles["hubbard.css"].url)


block content
  .row
    #sidebar.col-md-2
    #chart.col-md-10


block append scripts
  include ../js/d3
  script(src=contents.js["jsonp.js"].url)
  - for script in page.metadata.scripts
    script(src=contents.js[script].url)
