.realtime-images .tick {
  font-size: 12px;
}
.realtime-images line,
.realtime-images path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.realtime-images .thumbnails image {
  cursor: pointer;
}
.realtime-images .thumbnails .thumbnail-rect {
  stroke: none;
  fill: none;
}
.realtime-images .thumbnails .thumbnail-rect.active {
  stroke: gold;
  stroke-width: 2px;
}
.realtime-images .daynight {
  fill: url(#daynight-gradient);
  stroke: none;
}
.realtime-images .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
  opacity: 0.5;
  cursor: pointer;
}
.realtime-images .arrow .glyphicon-chevron-right,
.realtime-images .arrow .glyphicon-chevron-left {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  top: 285px;
}
.realtime-images .arrow .glyphicon-chevron-right {
  left: 25px;
}
.realtime-images .arrow .glyphicon-chevron-left {
  left: 25px;
}
