.scrubber {
  height: 10px;
  background-color: #999999;
}
.control-bar {
  height: 40px;
}
.control-bar .glyphicon {
  font-size: 18px;
  padding-top: 6px;
  padding-left: 10px;
}
.control-bar a,
.control-bar a:hover,
.control-bar a:active {
  color: #333333;
  text-decoration: none;
}
.context {
  height: 40px;
}
