.windrose .axes {
  fill: none;
  stroke: #999999;
  stroke-width: 0.5px;
}
.windrose .axes-labels {
  text-anchor: middle;
  font-size: 10px;
  fill: #999999;
}
.windrose .degree-labels {
  text-anchor: middle;
}
.windrose .arcs {
  stroke: #222222;
  stroke-width: 0.5px;
}
